#navbar-logo{
    width: 40px;
    margin: 0;
    height: auto;
    float: left;
    position: relative;
    top: -5px;
    margin-right: 8px;
    color: black;
}

.sidebar-item {
    h1 {
        color: #fff;
        font-family: "Roboto Mono";
    }
}

#sidebar {
    text-align: center;
}
